/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
}
audio, img{
    margin-top: 20px;
}
 */

 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b9e1b7;
  }
  .title-font {
    font-family: cursive;
  }
  
  h1, h2 {
    color: #2c3e50;
  }
  
  button, .btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #1c8a43;
  }

  .custom-navbar {
    background-color: rgb(97, 156, 71) !important;

  }

  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: white !important;
  }

  .finger-circles {
    display: flex;
    justify-content: center;
    gap: 10px;
    min-height: 40px; /* ensures space is reserved */
    margin-bottom: 10px;
  }
  
  .finger-circle {
    width: 30px;
    height: 30px;
    background-color: #3498db; /* still visible without text */
    border-radius: 50%;
    position: absolute;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
  

